*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header{
	height: 100vh;
	width: 100%;
	/*border: 1px solid black;*/
	background-image: linear-gradient(rgba(15,10,9,0.7),rgba(15,10,9,0.7)),url(img/h1_hero.jpg);
	background-attachment: fixed;
	/*background-position: center;*/
	background-size: cover;	
}
nav{
	height: 100px;
	width: 100%;
	/*border: 1px solid black;*/
	background-color: #15253F;
	display: flex;
	justify-content: space-evenly;
}
.sub-nav-div-1{
	height: 100px;
	width: 32%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.5s;
}
#logo{
	height: 40px;
	width: 50%;
	transition: 0.5s;
}
.sub-nav-div-1:hover #logo{
	transform: scale(0.9);
}
.sub-nav-div-2{
	height: 100px;
	width: 32%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sub-nav-div-2 a{
	font-size: 11px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 1px;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	font-family: 'Ysabeau SC', sans-serif;
	transition: 0.5s;
}
.sub-nav-div-2 a:hover{
	transform: scale(1.3);
	color: orangered;
	/*font-weight: bold;*/
}
.sub-nav-div-3{
	height: 100px;
	width: 32%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#btn-1{
	height: 50px;
	width: 50%;
	background-color: orangered;
	color: #fff;
	border: none;
	letter-spacing: 1px;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	font-family: 'Ysabeau SC', sans-serif;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	transition: 0.5s;
	z-index: 1;
}
#btn-1::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	border-radius: 10px 10px 10px 10px;
	transition: 0.5s;
}
#btn-1:hover{
	font-weight: bold;
	color: #000;
}
#btn-1:hover::before{
	opacity: 0.5;
	border-radius: 10px 10px 10px 10px;
	background-color: gray;
	width: 100%;
	z-index: -1;
}
.text{
	height: 464px;
	width: 100%;
	/*border: 5px solid blueviolet;*/
}
#text-adv{
	font-size: 100px;
	padding-left: 20%;
	padding-top: 7%;
	color: orangered;
	font-weight: bold;
	overflow: hidden;
	animation: text-adv /*reverse*/ infinite;
	animation-duration: 9s;
	letter-spacing: 3px;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
@keyframes text-adv{
	0%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
	20%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
	40%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
	60%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
	80%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
	100%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
}
#text-con{
	font-size: 100px;
	padding-left: 30%;
	color: orangered;
	font-weight: bold;
	overflow: hidden;
	animation: text-con /*reverse*/ infinite;
	animation-duration: 9s;
	letter-spacing: 3px;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
@keyframes text-con{
	0%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
	20%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
	40%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
	60%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
	80%{
		transform: scale(1.0);
		color: orangered;
		text-shadow: 0px 0px orangered;
	}
	100%{
		transform: scale(0.9);
		color: white;
		text-shadow: 0px 6px 20px green;
	}
}
.services{
	height: 100vh;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
}
.ser-1{
	height: 150px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
}
#ser-1-h1{
	font-size: 70px;
	padding-left: 5%;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
.ser-2{
	height: 435px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sub-ser-2{
	height: 400px;
	flex-basis: 25%;
	/*border: 1px solid black;*/
	transition: 0.5s;
	overflow: hidden;
}
.sub-ser-2 #services-img{
	width: 100%;
	margin-top: 7%;
}
.sub-ser-2:hover #services-img{
	overflow: hidden;
}
.sub-ser-2:hover .plusicon{
	background-color: orangered;
	color: #fff;
}
.sub-ser-2 a{
	text-decoration: none;
	color: #000;
	padding-left: 8%;
	transition: 0.5s;
}
.img-ser-2{
	height: 230px;
	width: 100%;
	/*border: 1px solid black;*/
	overflow: hidden;
	transition: 0.5s;
}
.img-ser-2 img{
	height: 100%;
	width: 100%;
	transition: 0.5s;
}
.sub-ser-2:hover img{
	transform: scale(1.2);
}
.sub-ser-2:hover{
	background-color: #15253F;
	color: #fff;
}
.sub-ser-2:hover a{
	color: #fff;
}
.sub-ser-2:hover .img-ser-2{
	transform: scale(0.8);
}
.sub-ser-2 a:hover{
	color: orangered;
	text-decoration: underline;
}
#sub-ser-2-p
{
	font-size: 22px;
	padding-left: 8%;
	padding-top: 6%;
}
.plusicon{
	height: 30px;
	width: 30px;
	/*border: 1px solid black;*/
	margin-left: 40%;
	margin-top: -7.5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	transition: 0.5s;
}
.plusicon i{
	font-size: 20px;
	cursor: pointer;
}
.we{
	height: 100vh;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
}
.sub-we{
	height: 150px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
}
#sub-we-h1{
	font-size: 70px;
	padding-left: 5%;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
.sub-we-2{
	height: 435px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sub-sub-we-1
{
	height: 435px;
	flex-basis: 50%;
	/*border: 1px solid black;*/
}
.sub-sub-we{
	height: 435px;
	flex-basis: 50%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sub-sub-we-2{
	height: 380px;
	width: 90%;
	/*border: 1px solid black;*/
	position: relative;
	transition: 0.5s;
}
.sub-sub-we-2:hover{
	border-radius: 30px 30px 30px 30px;
	transform: scale(0.9);
}
.sub-sub-we-2:hover #we-img{
	border-radius: 30px 30px 30px 30px;
}
.sub-sub-we-2:hover .sub-we-box{
	border-radius: 0px 0px 0px 30px;
}
.sub-we-box{
	height: 130px;
	width: 130px;
	background-color: #15253F;
	position: absolute;
	bottom: 0;
	transition: 0.5s;
	/*border: 1px solid black;*/
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}
#sub-we-box-h3{
	color: #fff;
	font-size: 30px;
	letter-spacing: 3px;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	font-family: 'Tektur', cursive;
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#sub-we-box-h1{
	color: #fff;
	/*font-family: 'Bebas Neue', sans-serif;*/
	font-family: 'Chakra Petch', sans-serif;
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#we-img{
	height: 100%;
	width: 100%;
	transition: 0.5s;
}
#sub-sub-we-h4{
	font-size: 23px;
	/*padding-left: 7%;*/
	padding-top: 10%;
	font-weight: bold;
	letter-spacing: 0.3px;
	text-align: center;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#btn-2{
	height: 50px;
	width: 50%;
	background-color: orangered;
	color: #fff;
	border: none;
	margin-left: 25%;
	margin-top: 20%;
	letter-spacing: 1px;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	font-family: 'Ysabeau SC', sans-serif;
	border-radius: 10px 10px 10px 10px;
	position: relative;
	transition: 0.5s;
	z-index: 1;
}
#btn-2::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	border-radius: 10px 10px 10px 10px;
	transition: 0.5s;
}
#btn-2:hover{
	font-weight: bold;
	color: #fff;
}
#btn-2:hover::before{
	/*opacity: 0.5;*/
	border-radius: 10px 10px 10px 10px;
	background-color: blueviolet;
	width: 100%;
	z-index: -1;
}
.projects{
	height: 200vh;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
}
.sub-project{
	height: 150px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
}
.sub-pro-1{
	height: 150px;
	flex-basis: 50%;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
}
#sub-pro-1-h1{
	font-size: 70px;
	padding-left: 5%;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
.sub-pro-2{
	height: 150px;
	flex-basis: 50%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.sub-pro-2 a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	font-family: 'Ysabeau SC', sans-serif;
	transition: 0.5s;
}
.sub-pro-2 a:hover{
	transform: scale(1.3);
	color: orangered;
}
.sub-project-2{
	height: 1020px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.pro{
	height: 400px;
	flex-basis: 25.1%;
	/*border: 2px solid black;*/
	background-color: whitesmoke;
	position: relative;
	transition: 0.5s;
}
.img-pro{
	height: 300px;
	width: 100%;
	overflow: hidden;
}
.img-pro img{
	height: 100%;
	width: 100%;
	transition: 0.5s;
}
#pro-h3{
	font-size: 20px;
	padding-left: 7%;
	padding-top: 8%;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
.pro:hover img{
	transform: scale(1.2);
}
.pluslogo{
	height: 70px;
	width: 70px;
	position: absolute;
	bottom: 18px;
	right: 30px;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
	opacity: 0;
	justify-content: space-evenly;
	transition: 0.5s;
	cursor: pointer;
}
.pro:hover .pluslogo{
	opacity: 1;
	transform: scale(0.5);
	background-color: orangered;
	color: #fff;
}
.pro:hover{
	color: #fff;
	background-color: #15253F;
}
.pluslogo i{
	font-size: 30px;
}
.talk{
	height: 400px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
	background-image: linear-gradient(rgba(15,10,9,0.5),rgba(15,10,9,0.5)),url(img/section-bg2.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#talk-h1{
	font-size: 60px;
	text-align: center;
	padding-top: 6%;
	color: #fff;
	/*font-family: 'Bebas Neue', sans-serif;*/
	font-family: 'Chakra Petch', sans-serif;
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#talk-p{
	text-align: center;
	font-size: 17px;
	padding-top: 1%;
	color: #fff;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#talk-btn{
	height: 50px;
	width: 25%;
	border: none;
	margin-left: 37.5%;
	font-weight: bold;
	/*font-family: 'Bebas Neue', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Lumanosimo', cursive;*/
	/*font-family: 'Tektur', cursive;*/
	font-family: 'Ysabeau SC', sans-serif;
	z-index: 1;
	transition: 0.5s;
	position: absolute;
}
#talk-btn::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	transition: 0.5s;
}
#talk-btn:hover::before{
	border: none;
	background-color: orangered;
	width: 100%;
	z-index: -1;
}
#talk-btn:hover{
	color: #fff;
}
.count{
	height: 300px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: orangered;
}
.sub-count{
	height: 200px;
	width: 200px;
	/*border: 1px solid #fff;*/
	border-radius: 20px 20px 20px 20px;
	transition: 0.5s;
}
.sub-count:hover{
	transform: rotateZ(360deg);
}
.counter{
	font-size: 50px;
	text-align: center;
	padding-top: 20%;
	color: #fff;
	/*font-family: 'Advent Pro', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Grenze Gotisch', serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Michroma', sans-serif;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
	/*font-family: 'Zen Dots', sans-serif;*/
}
#count-p{
	text-align: center;
	color: #fff;
	font-size: 25px;
	/*font-family: 'Advent Pro', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Grenze Gotisch', serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Michroma', sans-serif;*/
	font-family: 'Ysabeau SC', sans-serif;
	/*font-family: 'Zen Dots', sans-serif;*/
}
.team{
	height: 100vh;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
}
.sub-team{
	height: 150px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	align-items: center;
}
#sub-team-h1{
	font-size: 70px;
	padding-left: 5%;
	font-weight: bold;
	/*font-family: 'Advent Pro', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	font-family: 'Kanit', sans-serif;
	/*font-family: 'Michroma', sans-serif;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
.sub-team-2{
	height: 435px;
	width: 100%;
	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.team-img{
	height: 350px;
	flex-basis: 20%;
	/*border: 1px solid black;*/
}
.team-img:hover img{
	transform: scale(1.2);
}
.sub-team-img{
	height: 300px;
	width: 100%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
.sub-team-img img{
	height: 100%;
	width: 100%;
	transition: 0.5s;
}
#sub-team-p{
	font-size: 22px;
	padding-top: 2%;
	text-align: center;
	/*font-family: 'Advent Pro', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	font-family: 'Michroma', sans-serif;
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
footer{
	height: 350px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #070B11;
}
.sub-foot{
	height: 350px;
	flex-basis: 23%;
	/*border: 1px solid black;*/
	background-color: #070B11;
}
.sub-sub-foot{
	height: 100px;
	width: 100%;
	/*border: 1px solid black;*/
	background-color: #070B11;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#foot-img{
	height: 40px;
	width: 50%;
}
.sub-sub-foot-img{
	height: 300px;
	width: 100%;
	/*border: 1px solid black;*/
	margin-top: 25px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#sub-sub-foot-h1{
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: 'Advent Pro', sans-serif;
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Michroma', sans-serif;*/
	/*font-family: 'Ysabeau SC', sans-serif;*/
}
#map{
	height: 40%;
	width: 60%;
}
#foot-p{
	font-size: 15px;
	padding-top: 10%;
	padding-left: 5%;
	color: #fff;
}
.sub-foot li{
	padding-left: 10%;
	margin-top: 10%;
	list-style: none;
}
.sub-foot li a{
	text-decoration: none;
	color: #fff;
}
.sub-foot #link-1{
	margin-left: 25%;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	transition: 0.5s;
	/*font-family: 'Advent Pro', sans-serif;*/
	/*font-family: 'Chakra Petch', sans-serif;*/
	/*font-family: 'Kanit', sans-serif;*/
	/*font-family: 'Michroma', sans-serif;*/
	font-family: 'Ysabeau SC', sans-serif;
}
#link-1:hover{
	color: orangered;
	margin-left: 30%;
}